<h3><%= mensaje %></h3>
<table><!-- customized by views/quizes/index.ejs -->
  <% var i; for (i=0; i < quizes.length; i++) { %>        
     <tr>
        <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
        <%if(session.user){%>
        <td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
        <td>
          <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
              borrar
            </button>
          </form>
        </td>
        <%}%>
     </tr> 
  <% } %>
</table>

<a href="/quizes">Preguntas</a><br />

<form name="buscar" method="get" action="/quizes">
  <input type="text" id="search" name="search" value="" placeholder="Introduce texto a buscar" />
  <input type="submit" value="Buscar">
</form>

<br />
<%if(session.user){%>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<%}%>
